/*
==Font Overrides
*/

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  line-height: 1;
}

.orange {
  color: #dd8047;
}

.reveal p {
    margin: 20px 0;
    line-height: 1;
}


/* .reveal h1 {
  font-size: 40px;
  color: #dd8047;
}

.reveal h2 {
  font-size: 32px;
  color: #dd8047;
}

.reveal .orange h3 {
  font-size: 28px;
  color: #dd8047;
}

.reveal h4 {
  font-size: 24px;
  color: #dd8047;
}

.reveal h5 {
  font-size: 20px;
  color: #dd8047;
}

.reveal h6 {
  font-size: 16px;
  color: #dd8047;
}

.reveal p {
  line-height: 1;
  font-size: smaller;
} */

/* p .large-text {
  font-size: 32px;
} */


.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}

.slide-bg-style-left {
  width: 20%;
  height: 15px;
  background-color: #dd8047;
  top: 100px;
  left: -30%;
  position: absolute;
}

.slide-bg-style-right {
  width: 135%;
  height: 15px;
  background-color: #479add;
  top: 100px;
  left: -8%;
  position: absolute;
}
.reveal ul .no-bullet {
  list-style-type: none;
  line-height: 1;
}
.current-fragment {
  color: #dd8047;
}

.reveal div.left {
  float: left;
  z-index: -10;
  width: 45%;
  margin-top: 10%;
}

.reveal div.right {
  float: right;
  z-index: -10;
  width: 55%;
  margin-top: 9%;
}

.reveal section img {
  border: 0;
  box-shadow: none;
  vertical-align: middle;
}

.reveal div.center {
  z-index: -10;
  margin: 20% 35%;
}

.reveal div.center-img {
  z-index: -10;
  width: 55%;
  margin: 15% 25%;
}

/* .reveal .slides .align-right {
    text-align: right;
}
.reveal ul {
  list-style-type: none;
}
.reveal ul ul {
  list-style-type: none;
}
.reveal ul ul ul {
  list-style-type: none;
}
.reveal ol {
  list-style-type: none;
}
.reveal ol ol {
  list-style-type: none;
}
.reveal ol ol ol {
  list-style-type: none;
}
.reveal table th, .reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 0px solid;
}

.fa-twitter {
  color: #1da1f2;
} */
