/* .reveal {
  font-size: 0.6em;
} */
.slide-bg-style-left {
  width: 20%;
  height: 15px;
  background-color: #dd8047;
  top: 100px;
  left: -30%;
  position: absolute;
}

.slide-bg-style-right {
  width: 135%;
  height: 15px;
  background-color: #479add;
  top: 100px;
  left: -8%;
  position: absolute;
}

.fa-twitter {
  color: #1da1f2;
}
