/*
==Font Overrides
*/

.reveal p {
  font-size: 26px;
}

.reveal h6 {
  font-size: 28px;
}


.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}
.reveal .slides .align-right {
    text-align: right;
}



.slide-bg-style-left {
  width: 20%;
  height: 15px;
  background-color: #dd8047;
  top: 100px;
  left: -30%;
  position: absolute;
}

.slide-bg-style-right {
  width: 135%;
  height: 15px;
  background-color: #479add;
  top: 100px;
  left: -8%;
  position: absolute;
}

.fa-twitter {
  color: #1da1f2;
}
